

/* main style*/
* {
	margin: 0;
	padding: 0;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	border: 0;
}



.main{
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* navigation */
header {
	padding: 1em 0;
}
nav {
    margin: 0;
}
.nav-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	width: auto;
  }
.navigation ul {
	list-style: none;
    list-style-type:none;
    list-style-image:none;
    margin: 0;
    padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation li {
    display: inline-block;
    margin: 0;
}
.navigation li a {
    color: #333333;
    padding: 0.3em 0.5em;
	transition: all 0.1s ease-in;
    border-radius: 5px;
}
.navigation li a:hover {
    background-color: darksalmon;
    color: #FFFFFF;
}
nav button a {
    color: #FFFFFF;
}
.logo {
    max-height: 5rem;
}

/* TEXT*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Baloo', cursive;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-block-start: 0;
	margin-block-end: 0;
  }
  
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.6em;
	color: BLACK;
	text-underline-position: below;
}

.section-name {
	display: block;
	width: 100%;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    width: 80vw;
	margin: auto;
    align-content: center;

}
.main-image {
	width: auto;
	padding: 1em 0;
	text-align: center;
	height: 50vh;
	margin: auto;
	display: block;
	background-image: url(https://dl.glitter-graphics.com/pub/2102/2102357va14zjo4mu.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
.main-image h1 {
	margin-top: 5em;
	line-height: 2rem;
	margin-bottom: 0.5em;
	color: white;
	-webkit-text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
    -moz-text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
    text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
}
.search {
	border: 0;
	background-color: white;
	width: 40vw;
	margin: auto;
	padding: 0.3em;
	display: flex;
	border-radius: 3px;
	-webkit-box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
}
.search input {
	padding: 1em;
	width: 80%;
	border: 0;
	margin-left: 0;
	flex-grow: 0;
}
.search button {
	width: 20%;
	background-color: lightsalmon;
	color: white;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	flex-grow: 0;
}
.product {
    max-width: 1200px;
	margin: 2em auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.product h1 {
	display: block;
	width: 100%;
}

/*---ARTICLE---*/
article {
	margin: 0.5em;
    width: 55vw;
    box-sizing: border-box;
	transition: all 0.1s ease-in;
	font-family: 'Dosis', sans-serif;
}
article:hover {
    border-color: transparent;
	border-collapse: collapse;
	top: 10px;
    -webkit-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
}
article:hover .card {
    background-color: #DDDDDD;
}
article header {
	border-bottom: 1px solid #EEEEEE;
}

/*---CARD---*/
.card {
	max-width: 220px;
	display: block;
	min-height: 250px;
	flex-shrink: 0;
	border-radius: 5px;
	border-width: 1px;
    border-style: solid;
    border-color: white;
	
}
.card img {
	background-color: chocolate;
	max-width: 100%;
	max-height: 200px;
	width: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.card-content {
	padding: 0.8em;
	display: inline-block;
	text-align: left;
	margin: auto;
	border-radius: 5px;
	
}
.card-content span {
	margin: 0.3em 0;

}
.card-category {
	padding: 3px 5px;
	color: white;
	text-transform: uppercase;
	font-size: 0.7em;
	width: auto;
	border-radius: 2px;
}
.card-desc {
	font-size: 1rem;
	display: block;
	
}
.card-header {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.5rem;
	display: block;
}
.contributor {
	display: block;
}
.contributor-name {
	font-size: 0.8em;
}



.featured {
	background-color: lavender;
}
/*---CATEGORY---*/
.type {
	background-color:rgb(236, 137, 198);
}

/*---BUTTON---*/


#find{
	background-color: green;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
  ;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* mobile devices*/
@media screen and (max-width : 22em) {
/* navigations*/
    header {
        padding: 1em 0;
    }
    .nav-flex {
        flex-direction: column;
        align-content: center;
    }
    nav {
        margin: 0 auto;
    }
    .login-area button {
        margin-top: 0.5em;
    }
  .logo {
    margin-bottom: 1em;
  }

    .wrapper {
		width: auto;
	}
	.jumbo {
		height: 70vh;
		-webkit-clip-path: ellipse(100% 100% at 50% 0%);
		clip-path: ellipse(100% 100% at 50% 0%);
	}
	.jumbo h1 {
	margin-top: 2em;
	margin-bottom: 0.5em;
	}
	.search {
		width: 80vw;
		display: block;
	}
	.search input {
		padding: 1em 0.5em;
		width: 100%;
	}
	.search button {
		width: 100%;
		padding: 0.5em;
		margin-top: 1em;
		display: block;
	}
	.product {
	margin: 1em auto;
	}

	article {
		width: 40vw;
	}
}

/*---TABLET SCREEN ---*/
@media screen and (min-width : 22em) and (max-width : 34em) {

    header {
        padding: 1em 0;
    }
    .nav-flex {
        flex-direction: column;
        align-content: center;
    }
    nav {
        margin: 0 auto;
    }
  .logo {
    margin-bottom: 1em;
  }
    .login-area button {
        margin-top: 0.5em;
    }
/*---ELEMENTS---*/
    .wrapper {
		width: auto;
	}
	.jumbo {
		height: 40vh;
		-webkit-clip-path: ellipse(100% 100% at 50% 0%);
		clip-path: ellipse(100% 100% at 50% 0%);
	}
	.jumbo h1 {
	margin-top: 2em;
	margin-bottom: 0.5em;
	}
	.search {
		width: 80vw;
	}
	.search input {
		width: 75%;
	}
	.search button {
		width: 25%;
	}
	.product {
	margin: 1em auto;
	}

	article {
		width: 40vw;
	}
}




/*---DESKTOP SCREEN ---*/
@media screen and (min-width: 34em) and (max-width : 55em) {
	.wrapper {
		width: 90vw;
	}
	.jumbo {
		height: 45vh;
		-webkit-clip-path: ellipse(100% 100% at 50% 0%);
		clip-path: ellipse(100% 100% at 50% 0%);
	}
	.jumbo h1 {
	margin-top: 4em;
	margin-bottom: 0.5em;
	}
	.search {
		width: 60vw;
	}
	.search input {
		width: 80%;
	}
	.search button {
		width: 20%;
	}
}

